### Load data set with features

In [1]:
from create_df import read_df
df, dfc, all_homes, appliance_min, national_average = read_df()

Vendor:  Continuum Analytics, Inc.
Package: mkl
Message: trial mode expires in 27 days

In [2]:
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
run all_functions.py

In [4]:
run features.py

In [5]:
appliance_name_map = {"fridge":"Fridge","hvac":"HVAC","wm":"Washing\nmachine",
                      "dr":"Dryer","dw":"Dish\nwasher","light":"Lights"}
import json

In [96]:
appliances = ["dr","hvac","wm","dw","fridge","light"]
features = ["Static", "Monthly", "Monthly+Static"]
#features=["AMI+Monthly"]
#features =['Monthly+Static']
#features=["All"]
#appliances=["hvac","dr"]
features = feature_map.keys()
#features=["AMI"]
features=["Static","Monthly","Monthly+Static"]
out={}
means = {}
sems = {}
for feature in features:
    out[feature]={}
    means[feature]={}
    sems[feature]={}
    for appliance in appliances:
    
        out[feature][appliance] = {}
        for home in all_homes[appliance]:
            
            out[feature][appliance][int(home)] = pd.read_csv("../rf-out-100/%s_%s_%d.csv" %(appliance, feature, home),
                                     header=None, index_col=0, names=["accuracy"]).squeeze()
                
            
        means[feature][appliance_name_map[appliance]]=pd.DataFrame(out[feature][appliance]).mean().mean()
        sems[feature][appliance_name_map[appliance]]=pd.DataFrame(out[feature][appliance]).mean().sem()

In [97]:
pd.DataFrame(means).astype('int')

                  Monthly  Monthly+Static  Static
Dish\nwasher           25              28      25
Dryer                  28              32      28
Fridge                 63              59      60
HVAC                   79              79      68
Lights                 44              44      38
Washing\nmachine       54              56      58

In [93]:
pd.DataFrame(means).astype('int')

                  Monthly  Static
Dish\nwasher           26      26
Dryer                  28      28
Fridge                 63      60
HVAC                   79      68
Lights                 45      37
Washing\nmachine       54      58

In [48]:
import json
appliances = ["dr","hvac","wm","dw","fridge","light"]
features = ["Static", "Monthly", "Monthly+Static"]
#features=["AMI+Static"]
#features=["All"]
features=feature_map.keys()
out={}
means = {}
sems = {}
for feature in features:
    out[feature]={}
    means[feature]={}
    sems[feature]={}
    for appliance in appliances:
    
        out[feature][appliance] = {}
        for home in all_homes[appliance]:
            try:
                j = json.load(open("../main-out-new/%s_%s_%d.json" %(appliance, feature, home),'r'))
                out[feature][appliance][int(home)] = j['accuracy']
                                     
                
            except:
                pass

In [49]:
j

{u'accuracy': 38.867131335979046, u'f': [u'fraction_9'], u'k': 5}

In [51]:
pd.DataFrame({k:pd.DataFrame(out[k]).mean() for k in features}).astype('int')

        AMI  AMI+Monthly  AMI+Static  All  Monthly  Monthly+Static  Static
dr       25           24          24   25       27              28      26
dw       22           20          21   20       21              21      19
fridge   73           73          72   72       66              66      63
hvac     74           75          74   74       77              75      68
light    37           36          38   38       39              38      37
wm       46           49          48   47       52              48      48

In [28]:
appliance="fridge"
feature="All"

json.load(open("../main-out-new/%s_%s_%d.json" %(appliance, feature, 624),'r'))

{u'accuracy': 75.32609871017193,
 u'f': [u'fraction_13',
  u'lt_500',
  u'area',
  u'max_seasonal_12',
  u'fraction_11',
  u'bet_500_1000',
  u'fft_4'],
 u'k': 4}

In [285]:
appliance="fridge"
feature="Monthly+Static"
home =94
json.load(open("../main-out/%s_%s_%d.json" %(appliance, feature, home),'r'))

{u'fridge': {u'All': {u'accuracy': 78.00477312290393,
   u'f': [u'aggregate_3',
    u'ratio_min_max',
    u'aggregate_7',
    u'ratio_difference_min_max',
    u'aggregate_4',
    u'aggregate_2'],
   u'k': 2}}}

In [286]:
appliance="fridge"
feature="Static"
home =94
json.load(open("../main-out/%s_%s_%d.json" %(appliance, feature, home),'r'))

{u'fridge': {u'All': {u'accuracy': 73.96715595544268,
   u'f': [u'total_occupants'],
   u'k': 5}}}