### Load data set with features

In [320]:
from create_df import read_df
df, dfc, all_homes, appliance_min, national_average = read_df()

In [321]:
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [322]:
run all_functions.py

In [323]:
run features.py

In [324]:
appliance_name_map = {"fridge":"Fridge","hvac":"HVAC","wm":"Washing\nmachine",
                      "dr":"Dryer","dw":"Dish\nwasher","light":"Lights"}
import json

In [335]:
appliances = ["dr","hvac","wm","dw","fridge","light"]
#features = ["Static","Monthly", "Monthly+Static"]
#features=["AMI+Static"]

#features=["All"]
out={}
means = {}
sems = {}
for feature in features:
    out[feature]={}
    means[feature]={}
    sems[feature]={}
    for appliance in appliances:
    
        out[feature][appliance] = {}
        for home in all_homes[appliance]:
            try:
            
                out[feature][appliance][int(home)] = pd.read_csv("../main-out-new/%s_%s_%d.csv" %(appliance, feature, home),
                                     header=None, index_col=0, names=["accuracy"]).squeeze()
            except Exception, e:
                print e
                
            
        means[feature][appliance_name_map[appliance]]=pd.DataFrame(out[feature][appliance]).mean().mean()
        sems[feature][appliance_name_map[appliance]]=pd.DataFrame(out[feature][appliance]).mean().sem()

File ../main-out-new/wm_AMI_2470.csv does not exist
File ../main-out-new/light_AMI_2470.csv does not exist
File ../main-out-new/light_AMI_9609.csv does not exist
File ../main-out-new/wm_All_2470.csv does not exist
File ../main-out-new/light_All_2470.csv does not exist
File ../main-out-new/light_All_9609.csv does not exist
File ../main-out-new/hvac_AMI+Monthly_2129.csv does not exist
File ../main-out-new/wm_AMI+Monthly_2470.csv does not exist
File ../main-out-new/wm_AMI+Monthly_3723.csv does not exist
File ../main-out-new/wm_AMI+Monthly_5357.csv does not exist
File ../main-out-new/dw_AMI+Monthly_1334.csv does not exist
File ../main-out-new/dw_AMI+Monthly_2242.csv does not exist
File ../main-out-new/dw_AMI+Monthly_3456.csv does not exist
File ../main-out-new/dw_AMI+Monthly_4767.csv does not exist
File ../main-out-new/light_AMI+Monthly_2470.csv does not exist
File ../main-out-new/light_AMI+Monthly_9609.csv does not exist
File ../main-out-new/wm_Monthly_2470.csv does not exist
File ../main-out-new/light_Monthly_2470.csv does not exist
File ../main-out-new/light_Monthly_9609.csv does not exist
File ../main-out-new/wm_Monthly+Static_2470.csv does not exist
File ../main-out-new/light_Monthly+Static_2470.csv does not exist
File ../main-out-new/light_Monthly+Static_9609.csv does not exist
File ../main-out-new/wm_Static_2470.csv does not exist
File ../main-out-new/light_Static_2470.csv does not exist
File ../main-out-new/light_Static_9609.csv does not exist
File ../main-out-new/wm_AMI+Static_2470.csv does not exist
File ../main-out-new/light_AMI+Static_2470.csv does not exist
File ../main-out-new/light_AMI+Static_9609.csv does not exist

In [336]:
pd.DataFrame(means)

,AMI,AMI+Monthly,AMI+Static,All,Monthly,Monthly+Static,Static
Dish\nwasher,27.659256,23.651615,28.091898,24.638568,26.202432,27.333402,26.994961
Dryer,22.777151,25.811534,25.830667,25.972393,33.899603,33.052222,31.286223
Fridge,73.275673,66.377698,66.858074,66.410514,48.960244,68.541553,56.928776
HVAC,73.036422,74.641144,73.538227,75.154290,76.239355,73.939380,69.657454
Lights,40.015019,33.006726,38.029302,36.418069,42.297681,39.550651,42.757294
Washing\nmachine,49.484331,55.858035,46.105097,52.466302,50.359318,54.673530,57.272795

In [288]:
pd.DataFrame(means)

                    Monthly  Monthly+Static     Static
Dish\nwasher      25.268118       27.333402  26.994961
Dryer             31.432502       33.052222  31.286223
Fridge            48.960244       68.541553  56.928776
HVAC              76.673690       73.939380  72.142896
Lights            39.810615       39.550651  42.757294
Washing\nmachine  55.154148       54.673530  57.272795

In [333]:
import json
appliances = ["dr","hvac","wm","dw","fridge","light"]
features = ["Static", "Monthly", "Monthly+Static"]
#features=["AMI+Static"]
#features=["All"]
#appliances=["fridge","hvac","dr","dw"]
features = feature_map.keys()
out={}
means = {}
sems = {}
for feature in features:
    out[feature]={}
    means[feature]={}
    sems[feature]={}
    for appliance in appliances:
    
        out[feature][appliance] = {}
        for home in all_homes[appliance]:
            try:
                j = json.load(open("../main-out-new/%s_%s_%d.json" %(appliance, feature, home),'r'))
                out[feature][appliance][int(home)] = j['accuracy']
            except:
                pass

In [334]:
pd.DataFrame({k:pd.DataFrame(out[k]).mean() for k in features})

,AMI,AMI+Monthly,AMI+Static,All,Monthly,Monthly+Static,Static
dr,25.235422,24.828798,24.648279,25.194307,27.399581,28.697681,26.140318
dw,22.326116,21.163047,21.338897,21.226692,21.222768,22.525817,19.941430
fridge,73.073302,73.228569,72.488021,73.004763,66.048773,68.082701,63.642268
hvac,74.792478,74.809531,74.773214,74.765245,76.502214,76.081346,68.980325
light,37.952326,36.055880,38.861374,37.325632,36.843681,36.792903,37.165298
wm,46.809025,47.046523,48.306685,48.767949,46.280977,47.294136,48.233818

In [284]:
appliance="fridge"
feature="Monthly"

json.load(open("../main-out/%s_%s_%d.json" %(appliance, feature, home),'r'))

{u'fridge': {u'All': {u'accuracy': 78.00477312290393,
   u'f': [u'aggregate_3',
    u'ratio_min_max',
    u'aggregate_7',
    u'ratio_difference_min_max',
    u'aggregate_4',
    u'aggregate_2'],
   u'k': 2}}}

In [285]:
appliance="fridge"
feature="Monthly+Static"
home =94
json.load(open("../main-out/%s_%s_%d.json" %(appliance, feature, home),'r'))

{u'fridge': {u'All': {u'accuracy': 78.00477312290393,
   u'f': [u'aggregate_3',
    u'ratio_min_max',
    u'aggregate_7',
    u'ratio_difference_min_max',
    u'aggregate_4',
    u'aggregate_2'],
   u'k': 2}}}

In [286]:
appliance="fridge"
feature="Static"
home =94
json.load(open("../main-out/%s_%s_%d.json" %(appliance, feature, home),'r'))

{u'fridge': {u'All': {u'accuracy': 73.96715595544268,
   u'f': [u'total_occupants'],
   u'k': 5}}}