In [3]:
import pandas as pd
import numpy as np

In [2]:
st = pd.HDFStore("/Users/nipunbatra/Desktop/milan.h5")

In [ ]:
df1 = pd.DataFrame(np.random.randn(100000000,5))

In [6]:
df1.describe()

,0,1,2,3,4
count,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000
mean,-0.001351,0.000424,-0.001039,0.001962,0.000696
std,1.000183,0.999922,0.999538,1.000568,0.999557
min,-4.922911,-5.124696,-4.889802,-4.910598,-4.927490
25%,-0.675855,-0.673673,-0.675559,-0.674103,-0.674375
50%,-0.002464,-0.000809,-0.001126,0.002499,0.000564
75%,0.673415,0.674903,0.674904,0.677040,0.675521
max,4.771429,4.742483,5.047047,5.809460,5.213671

In [7]:
st['/df1'] = df1

In [9]:
!ls -lah /Users/nipunbatra/Desktop/milan.h5

-rw-r--r--  1 nipunbatra  staff    46M Jan  4 20:24 /Users/nipunbatra/Desktop/milan.h5